<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Blog</title>
</head>

<body class="bg-dark">
    <div class="container p-5 bg-dark mt-5 mb-5 rounded shadow-lg p-3 mb-5 bg-body">
        <h1 class="mb-4 text-white">Blog Articles</h1>
        <a href="/articles/new" class="btn btn-success btn-lg">New Article</a>

        <% articles.forEach(article=> { %>
            <div class="card mt-4 bg-success shadow-lg p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h4 class="card-title  text-white ">
                        <%= article.title %>
                    </h4>
                    <div class="card-subtitle text-white-50 mb-2">
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2">
                        <%= article.description %>
                    </div>
                    <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
                    <a href="articles/edit/<%= article.id %>" class="btn btn-info mx-2">Edit</a>
                    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <% }) %>
    </div>
</body>

</html>